@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Usuario</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Citas</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Transacciones</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Servicios</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tipo servicio</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Area medica</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tipo transaccion</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 mt-2">
        <div class="card" style="width: 18rem;">
            <img src="https://millenniummedicalcare.com/wp-content/uploads/primary-care-2001.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Estado transaccion</h5>
                <p class="card-text">Lorem </p>
                <a asp-controller="TipoServicios" asp-action="Index" class="btn btn-primary">Mantenimiento</a>
            </div>
        </div>
    </div>
</div>
